html{
	box-sizing: border-box;
	min-height: 100vh;
	background-color: #eee;
}
*, *:before, *:after{
	box-sizing: inherit;
}
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 100%;
}
h1, h2, h3, h4{
	text-align: center;
}
.root{
	width: 800px;
	margin: 0 auto;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.learning-content{
	text-align: center;
}
.btn-block{
	display: block;
	background-color: #fff;
	cursor: pointer;
	text-decoration: none;
	padding: 0.5em;
	text-align: center;
	border: 1px solid #888;
	border-radius: 5px;
}
.btn{
	display: inline-block;
	background-color: #fff;
	cursor: pointer;
	text-decoration: none;
	padding: 0.5em;
	text-align: center;
	border: 1px solid #888;
	border-radius: 5px;
}
.tabs{
	text-align: center;
	margin-bottom: 1em;
}
.tablink{
	float: left;
	width: 33.33333333333333%;
}
.tabs .active {
	background-color: #aaa;
}
.tabcontent{
	display: none;
}
.tabcontent {
	animation: fadeEffect 0.5s;
}
@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}
#present{
	display: block;
}
.dictionary-nav .btn-block{
	float: left;
	width: 50%;
}

.pre-test{
	text-align: center;
}
.pre-test input[type="submit"],
.form-test input[type="submit"]{
	display: block;
	margin-top: 1em;
	width: 100%;
	font-size: 1em;
}
.form-test input[type="text"]{
	display: block;
	line-height: 1.5em;
	width: 100%;
	padding: 0.5em;
	font-size: 1em;
}
.has-success input[type="text"]{
	background-color: #56d858;
}
.has-error input[type="text"]{
	background-color: #ff795e;
}
.table-words{
	border-collapse: collapse;
	margin: 0 auto;
}
.table-words td, th{
	border: 1px solid #777;
	padding: 0.5em;
}
.table-words th{
	background-color: #56d858;
	cursor: pointer;
}
.table-words th:hover{
	background-color: #56d858;
	cursor: pointer;
}
.table-words tbody tr:nth-child(odd){
	background-color: #fff;
}
.tooltip{
	display: none;
	margin: 0 auto;
	background-color: yellow;
	position: absolute;
	/*top: -2em;*/
	text-align: center;
}

@media screen and (max-width: 768px) {

.root{
	width: auto;
	margin: none;
}
.dictionary-nav .btn-block{
	clear: both;
	width: 100%;
}

}